In [1]:
# Bibliotecas
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image, ImageFilter
import glob
from numpy import random as rd
import pickle
import csv
from keras.models import load_model

In [3]:
path0 = "D:/cancer de pele/data_pickle/"
path = "D:/cancer de pele/data_teste/"

dados = pd.read_csv('C:/Users/alex_/Desktop/target_TRAIN.csv')
dados.drop('Unnamed: 0', axis = 1, inplace = True)
dados.head()

       image_id  akiec  bcc  mel  nv  bkl  df  vasc
0  ISIC_0024310      0    0    1   0    0   0     0
1  ISIC_0024312      0    0    0   0    1   0     0
2  ISIC_0024313      0    0    1   0    0   0     0
3  ISIC_0024315      0    0    1   0    0   0     0
4  ISIC_0024318      0    0    0   0    0   1     0

In [4]:

doen = ["akiec","bcc", "mel","nv", "bkl", "df", "vasc"]

In [5]:
pt = 'C:/Users/alex_/Desktop/Curso desenvolvedor WEB/'

for i in doen:
    x = dados.loc[dados[i] == True].index
    imagens = x[:100]

    for a in imagens:

        y = dados.loc[a]
        y = y.values.tolist()
        os.link(path0 + y[0] + '.pckl',
        path + y[0] + '.pckl')
        os.remove(path0 + y[0] + '.pckl')
        os.chdir(pt)
        with open('validacao.csv','a',newline='') as file:
            writer = csv.writer(file)
            writer.writerow(y)
        dados.drop(a, axis = 0, inplace=True)

print(i)

vasc

In [6]:
len(dados)
vali = pd.read_csv('C:/Users/alex_/Desktop/Curso desenvolvedor WEB/validacao.csv')
vali.head()

   AUG_5_ISIC_0025953  1  0  0.1  0.2  0.3  0.4  0.5
0  AUG_6_ISIC_0025953  1  0    0    0    0    0    0
1  AUG_7_ISIC_0025953  1  0    0    0    0    0    0
2  AUG_0_ISIC_0026203  1  0    0    0    0    0    0
3  AUG_1_ISIC_0026203  1  0    0    0    0    0    0
4  AUG_2_ISIC_0026203  1  0    0    0    0    0    0

In [7]:
print(len(dados))

9599

In [8]:
pt = 'C:/Users/alex_/Desktop/Curso desenvolvedor WEB/'
path = "D:/cancer de pele/data_valida/"

for i in doen:
    x = dados.loc[dados[i] == True].index
    imagens = x[:100]

    for a in imagens:

        y = dados.loc[a]
        y = y.values.tolist()
        os.link(path0 + y[0] + '.pckl',
        path + y[0] + '.pckl')
        os.remove(path0 + y[0] + '.pckl')
        os.chdir(pt)
        with open('treino.csv','a',newline='') as file:
            writer = csv.writer(file)
            writer.writerow(y)
        dados.drop(a, axis = 0, inplace=True)

print(i)

vasc

In [10]:
len(dados)
test = pd.read_csv('C:/Users/alex_/Desktop/Curso desenvolvedor WEB/treino.csv')
test.head()

   AUG_1_ISIC_0029210  1  0  0.1  0.2  0.3  0.4  0.5
0  AUG_2_ISIC_0029210  1  0    0    0    0    0    0
1  AUG_3_ISIC_0029210  1  0    0    0    0    0    0
2  AUG_4_ISIC_0029210  1  0    0    0    0    0    0
3  AUG_5_ISIC_0029210  1  0    0    0    0    0    0
4  AUG_6_ISIC_0029210  1  0    0    0    0    0    0

In [11]:
len(test)

699

In [12]:
len(dados)

8899

In [13]:
dados.to_csv('C:/Users/alex_/Desktop/Curso desenvolvedor WEB/treino_target.csv')