In [1]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

In [9]:
df = pd.DataFrame() 
for i in range(21,25):
    data = pd.read_csv ('E:/cancer de pele/results/' + str(i) + '/cancer-acc' + str(i) + '.csv')
    vetor = data.iloc[:,5]
    df = pd.concat([df,vetor],axis=1)
    print(i)

21
22
23
24

In [12]:
df.head(100)

           4         4         4         4
0   0.845488  0.861557  0.846724  0.862794
1   0.861557  0.881335  0.867738  0.860321
2   0.877627  0.899876  0.881335  0.886279
3   0.891224  0.904821  0.877627  0.909765
4   0.889988  0.902349  0.907293  0.894932
..       ...       ...       ...       ...
72  0.868974  0.841780  0.856613  0.861557
73  0.875154  0.841780  0.860321  0.867738
74  0.881335  0.836836  0.881335  0.883807
75  0.888752  0.856613  0.872682  0.878863
76  0.912237  0.859085  0.889988  0.904821

[77 rows x 4 columns]

In [13]:
df.to_excel('C:/Users/alex_/Desktop/train-acc.xlsx')